<div class="header-container">
  <h2><span>Módulos / </span> Desvíos</h2>
  <div class="spacer"></div>
  <!-- Elemento de separación -->
  <div class="button-container">
    <button class="button" (click)="goToList()">Gestión de desvios</button>
    <button class="button bg-blue-100" (click)="goToCreate()">
      Generar Desvío
    </button>
  </div>
</div>

<div class="date-container">
  <mat-form-field>
    <mat-label>Fecha Inicio</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha Término</mat-label>
    <input matInput [matDatepicker]="picker2" />
    <mat-datepicker-toggle matIconSuffix [for]="picker2">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <div class="spacer"></div>

  <div class="button-container">
    <button class="button">Seleccionar proyectos</button>
  </div>
</div>

<div class="example-form">
  <div class="grid-container">
    <div
      class="grid-item"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="chart-container">
        <canvas id="CantPedByCli"></canvas>
      </div>
    </div>
    <div
      class="grid-item"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="chart-container">
        <canvas id="PromGastoByCli"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div
      class="card widget"
      data-url="/panel/modulos/detalles/sso-lpr-deviations/widget/deviations_indicators_ma?restricted=1"
      data-title="Indicadores Mensuales Medio Ambiente"
      id="deviations_indicators_ma"
    >
      <div class="card-head" style="background-color: white">
        <h3>Indicadores Mensuales Medio Ambiente</h3>
        <div class="tools" data-html2canvas-ignore="true">
          <a
            class="btn btn-icon-toggle btn-download"
            data-loading-text="&lt;i class=&#39;fa fa-spinner fa-spin&#39;&gt;&lt;/i&gt;"
          >
            <i class="fa fa-download"></i>
          </a>
          <a class="btn btn-icon-toggle btn-refresh">
            <i class="md md-refresh"></i>
          </a>
          <a class="btn btn-icon-toggle btn-collapse">
            <i class="fa fa-angle-up"></i>
          </a>
        </div>
      </div>
      <div class="widget-content" style="background-color: white">
        <div class="card-body no-padding">
          <div class="force-padding" style="padding-top: 0">
            <div class="row small-padding">
              <div class="col-md-offset-4 col-md-4" style="display: contents">
                <table class="col-md-12">
                  <tbody>
                    <tr>
                      <td class="text-center col-md-5">
                        <h2>DESDE</h2>
                      </td>
                      <td class="text-center col-md-2" rowspan="2">
                        <i
                          class="md md-arrow-forward"
                          style="font-size: 3em"
                        ></i>
                      </td>
                      <td class="text-center col-md-5">
                        <h2>HASTA</h2>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <h4>02/2024</h4>
                      </td>
                      <td class="text-center">
                        <h4>03/2024</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div
                *ngFor="let indicator of indicators"
                [ngClass]="indicator.class"
              >
                <div class="card">
                  <div class="card-body no-padding">
                    <div
                      class="alert alert-callout no-margin text-center"
                      [ngClass]="indicator.color"
                      style="min-height: 125px"
                    >
                      <strong
                        class="pull-right text-lg fa-2x"
                        [ngClass]="indicator.color"
                      >
                        <i [class]="indicator.icon"></i>
                      </strong>
                      <strong class="text-xl" style="color: black">{{
                        indicator.value
                      }}</strong
                      ><br />
                      <span style="font-size: 70%">
                        <strong>{{ indicator.title }}</strong> </span
                      ><br />
                      <span style="font-size: 70%">
                        <strong></strong>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="example-form">
  <div class="grid-container">
    <div
      class="grid-item"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div
        class="chart-container"
        style="display: contents; justify-content: center; align-items: center"
      >
        <canvas style="width: 350px; height: 350px" id="Test"></canvas>
      </div>
    </div>
    <div
      class="grid-item"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div
        class="chart-container"
        style="display: flex; justify-content: center; align-items: center"
      >
        <canvas style="width: 350px; height: 350px" id="Test2"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- <div class="example-form">
  <div class="grid-container">
    <div
      class="grid-item"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div
        class="chart-container"
        style="display: flex; justify-content: center; align-items: center"
      >
        <canvas style="width: 300px; height: 300px" id="BarLine"></canvas>
      </div>
    </div>
  </div>
</div> -->

<div class="col-md-12">
  <div
    class="card widget"
    data-url="/panel/modulos/detalles/sso-lpr-deviations/widget/deviations_indicators_ma?restricted=1"
    data-title="Pedidos por proceso"
    id="deviations_indicators_ma"
  >
    <div class="card-head" style="background-color: white">
      <h3>Pedidos por proceso</h3>
      <div class="tools" data-html2canvas-ignore="true">
        <a
          class="btn btn-icon-toggle btn-download"
          data-loading-text="&lt;i class=&#39;fa fa-spinner fa-spin&#39;&gt;&lt;/i&gt;"
        >
          <i class="fa fa-download"></i>
        </a>
        <a class="btn btn-icon-toggle btn-refresh">
          <i class="md md-refresh"></i>
        </a>
        <a class="btn btn-icon-toggle btn-collapse">
          <i class="fa fa-angle-up"></i>
        </a>
      </div>
      <div>
        <canvas height="250px" style="width: 80%" id="LineChart"></canvas>
      </div>
    </div>
  </div>
</div>

<!--Lista de pedidos-->
<div class="row mb-6">
  <div class="col-1"></div>
  <div class="col-10">
    <app-cliente-list></app-cliente-list>
  </div>
  <div class="col-1"></div>
</div>

<!--Chart horizantal-->
<div class="col-md-12">
  <div
    class="card widget"
    data-url="/panel/modulos/detalles/sso-lpr-deviations/widget/deviations_indicators_ma?restricted=1"
    data-title="Pedidos por proceso"
    id="deviations_indicators_ma"
  >
    <div class="card-head" style="background-color: white">
      <h3>Pedidos por proceso</h3>
      <div class="tools" data-html2canvas-ignore="true">
        <a
          class="btn btn-icon-toggle btn-download"
          data-loading-text="&lt;i class=&#39;fa fa-spinner fa-spin&#39;&gt;&lt;/i&gt;"
        >
          <i class="fa fa-download"></i>
        </a>
        <a class="btn btn-icon-toggle btn-refresh">
          <i class="md md-refresh"></i>
        </a>
        <a class="btn btn-icon-toggle btn-collapse">
          <i class="fa fa-angle-up"></i>
        </a>
      </div>
      <div>
        <canvas height="250px" style="width: 80%" id="HorizonChart"></canvas>
      </div>
    </div>
  </div>
</div>
