body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.example-form {
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.grid-item {
  background-color: white;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 100%;
  max-width: 600px;
}

/* Estilos para los botones */
.header-container {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  justify-content: center; /* Alinea los elementos horizontalmente */
}

.spacer {
  flex-grow: 1; /* Hace que el elemento ocupe todo el espacio restante */
}

.button-container {
  display: flex;
}

.button {
  background-color: #3d35d6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #564dbf;
}


.date-container {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0; /* Alinea los elementos horizontalmente */
}

.date-grid{
  display: grid;
  grid-template-columns : repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;

}

.date-container mat-form-field {
  margin-right: 10px; /* Espacio entre los campos de fecha */
}

.grid2-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
  grid-gap: 20px; /* Espacio entre las celdas del grid */
}

.grid2-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  height: 100px;
  width: 250px;
  border: 2px solid #a7a1a176;
}

