<mat-label
  style="
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    font-size: 30px;
    font: bold;
  "
  >Crear pedido</mat-label
>
<hr />

<form #pedidoForm="ngForm" class="example-form" (ngSubmit)="altaPedidos()">
  <mat-form-field class="example-full-width">
    <mat-label
      [ngClass]="{
        'text-danger': id_cliente.invalid && id_cliente.touched,
        'text-success': id_cliente.valid && id_cliente.touched
      }"
      >ID Cliente</mat-label
    >
    <input
      matInput
      name="id_cliente"
      [(ngModel)]="pedidos.id_cliente"
      plac1eholder="ID Cliente"
      #id_cliente="ngModel"
      required
      [ngClass]="{
        'is-invalid': id_cliente.invalid && id_cliente.touched,
        'is-valid': id_cliente.valid && id_cliente.touched
      }"
    />
    @if(id_cliente.valid && id_cliente.touched){
    <div class="valid-feedback">Completado</div>
    } @if(id_cliente.invalid && id_cliente.touched){
    <div class="invalid-feedback">Campo requerido</div>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label
      [ngClass]="{
        'is-invalid': fecha_pedido.invalid && fecha_pedido.touched,
        'is-valid': fecha_pedido.valid && fecha_pedido.touched
      }"
      >Fecha Pedido</mat-label
    >
    <input
      required
      matInput
      name="fecha_pedido"
      [(ngModel)]="pedidos.fecha_pedido"
      type="date"
      placeholder="Fecha Pedido"
      #fecha_pedido="ngModel"
    />
    @if(fecha_pedido.valid && fecha_pedido.touched){
    <div class="valid-feedback">Completado</div>
    } @if(fecha_pedido.invalid && fecha_pedido.touched){
    <div class="invalid-feedback">Campo requerido</div>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label
      [ngClass]="{
        'is-invalid': total.invalid && total.touched,
        'is-valid': total.valid && total.touched
      }"
      >Total</mat-label
    >
    <input
      matInput
      name="total"
      [(ngModel)]="pedidos.total"
      type="number"
      placeholder="Total"
      #total="ngModel"
      required
    />
    @if(total.valid && total.touched){
    <div class="valid-feedback">Completado</div>
    } @if(total.invalid && total.touched){
    <div class="invalid-feedback">Campo requerido</div>
    }
  </mat-form-field>
  @if(pedidoForm.valid){
  <button class="submit-button" type="submit">Crear Pedido</button>
  }

  {{ data }}
</form>
