<h3>Pedidos</h3>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id_pedido">
      <th mat-header-cell *matHeaderCellDef>id pedido</th>
      <td mat-cell *matCellDef="let element">{{ element.id_pedido }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="id_cliente">
      <th mat-header-cell *matHeaderCellDef>id cliente</th>
      <td mat-cell *matCellDef="let element">{{ element.id_cliente }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fecha_pedido">
      <th mat-header-cell *matHeaderCellDef>Fecha del pedido</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha_pedido }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          class="menu-button"
          [routerLink]="['/cliente-edit/', element.id_pedido]"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          class="menu-button"
          (click)="deletePedido(element.id_pedido)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[8, 15, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
