

.example-container {
  height: 100vh; /* Esto establece la altura al 100% de la ventana del navegador */
}

.mat-sidenav-content {
  padding: 20px; /* Opcional: añade relleno según tus necesidades */
}



.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    background: #cbd4db;
  }

  mat-sidenav-container {
    height: 100vh; /* Cambiado a 100vh para ocupar toda la altura de la ventana */
  }

mat-sidenav {
    
    margin : 16px;
    width: 150px;
    border-right:none ;
    background:#343535 ;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}
.img-icon{
    max-width: 160px;
    max-height: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;

}

.name{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;

}

.design{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.content {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  height: 100%; /* Ocupa el 100% del alto disponible */
  overflow: auto; /* Añade scroll si el contenido es más grande que el contenedor */
}
mat-divider{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}

mat-sidenav-content {
  margin-left: 0; /* Elimina el margen izquierdo para que el contenido comience desde el borde */
  height: 100vh; /* Asegura que el contenido ocupe toda la altura de la ventana */
}

mat-expansion-panel {
  position: relative;
}

mat-expansion-panel-header {
  position: -webkit-sticky; /* Para compatibilidad con navegadores WebKit */
  position: sticky;
  top: 0;
  z-index: 10; /* Asegura que el encabezado esté sobre el contenido del panel */
  background-color: white; /* Fondo blanco para que no se mezcle con el contenido */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 50px; /* Ajusta el tamaño según necesites */
  height: 50px; /* Ajusta el tamaño según necesites */
  border-radius: 50%; /* Hace que la imagen sea circular */
  border: 2px solid #2C3E50; /* Borde de color azul oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
  margin-right: 10px; /* Espacio entre la imagen y el nombre de usuario */
}

mat-panel-title {
  font-weight: bold; /* Negrita para el nombre de usuario */
  color: #2C3E50; /* Color azul oscuro */
}

.panel-content {
  padding: 16px; /* Añade algo de relleno al contenido del panel */
}
