<p>
  <mat-toolbar>
    @if(sidenav.mode === 'over'){
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()"
    >
      @if(sidenav.opened){
      <mat-icon>close</mat-icon>
      }@else {
      <mat-icon>menu</mat-icon>
      }
    </button>
    }
    <img
      class="w-12 h-12 rounded-full mr-2"
      src="../assets/logo.png"
      alt="Rounded avatar"
    />
    <span class="example-spacer"></span>
    @if(!isLoggedIn){
    <button routerLink="/login" type="button" class="btn btn-success">
      Iniciar sesión
    </button>
    }@else{
    <button
      id="dropdownDefaultButton"
      data-dropdown-toggle="dropdown"
      class="text-black bg-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-white-700 dark:focus:ring-blue-800"
      type="button"
    >
      <img
        class="w-7 h-7 rounded-full mr-2"
        src="https://avatars.githubusercontent.com/u/129123437?v=4"
        alt="Rounded avatar"
      />
      Usuario
    </button>

    <!-- Dropdown menu -->
    <div
      id="dropdown"
      class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
    >
      <ul
        class="py-2 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Cambiar contraseña</a
          >
        </li>
        <li>
          <div
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white hover:bg-red-500"
          >
            <button (click)="deleteToken()">Cerrar sesión</button>
          </div>
        </li>
      </ul>
    </div>
    }
  </mat-toolbar>
</p>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    @if(isLoggedIn){

    <mat-divider></mat-divider>

    <mat-list role="list">
      <mat-list-item role="listitem">
        <a routerLink="/cliente-create" style="color: white"> Inicio </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/cliente-list" style="color: white">Tareas</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/chart" style="color: white">Reportes</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    }@else{
    <div>
      <h3 style="font: bold">
        Gestión de Registros con Formularios Reactivos de Angular y Backend en
        PHP
      </h3>
      <img
        style="max-width: 140px"
        src="../assets/PHP+ANGULAR+MYSQL.png"
        alt=""
      />
      <hr />
      <p>
        Este proyecto es una aplicación web diseñada para demostrar las
        funcionalidades de formularios reactivos en Angular, junto con un
        backend implementado en PHP. La integración de estos dos lenguajes
        permite crear, leer, actualizar y eliminar registros en una base de
        datos MySQL, ofreciendo así una solución completa para la gestión de
        datos.
      </p>
      <h2>Funcionalidades Principales:</h2>
      <ol>
        <li>
          <strong>Formularios Reactivos:</strong> Utilizando Angular, se
          implementan formularios reactivos que proporcionan una experiencia de
          usuario dinámica y altamente interactiva. Estos formularios permiten
          la validación en tiempo real de los datos ingresados por el usuario,
          asegurando la integridad de la información antes de ser enviada al
          backend.
        </li>
        <li>
          <strong>Backend en PHP:</strong> El backend de la aplicación está
          desarrollado en PHP, lo que permite manejar las solicitudes del
          cliente y realizar operaciones CRUD (Crear, Leer, Actualizar,
          Eliminar) en la base de datos MySQL. PHP proporciona la lógica
          necesaria para procesar las solicitudes del frontend y manipular los
          datos de manera eficiente y segura.
        </li>
        <li>
          <strong>Operaciones CRUD:</strong> Los usuarios de la aplicación
          pueden realizar operaciones CRUD básicas en la base de datos, lo que
          incluye la creación, lectura, actualización y eliminación de
          registros. Estas operaciones se realizan a través de formularios
          interactivos que utilizan Angular para la validación de datos y PHP
          para interactuar con la base de datos.
        </li>
        <li>
          <strong>Dashboards de KPIs Específicos:</strong> Además de las
          operaciones CRUD, la aplicación presenta dashboards que muestran
          indicadores clave de rendimiento (KPIs) específicos relacionados con
          los datos almacenados en la base de datos. Por ejemplo, se puede
          mostrar información sobre los clientes con más pedidos, el volumen de
          ventas por período de tiempo, entre otros.
        </li>
      </ol>
      <p>
        En resumen, este proyecto combina la potencia de Angular para la
        creación de interfaces de usuario dinámicas y responsivas, con la
        versatilidad de PHP para manejar la lógica del servidor y la interacción
        con la base de datos. La integración de estos dos lenguajes proporciona
        una solución completa para la gestión de datos en aplicaciones web,
        permitiendo a los usuarios realizar operaciones CRUD y visualizar
        análisis de datos de manera eficiente y efectiva.
      </p>
    </div>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
