<mat-label
  style="
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    font-size: 30px;
    font: bold;
  "
>
  Editar pedido</mat-label
>
<hr />

<form
  #editarPedidoForm="ngForm"
  class="example-form"
  (ngSubmit)="editarPedido()"
>
  <mat-form-field class="example-full-width">
    <mat-label
      [ngClass]="{
        'is-valid': id_cliente.valid && id_cliente.touched,
        'is-invalid': id_cliente.invalid && id_cliente.touched
      }"
      >ID Cliente</mat-label
    >
    <input
      required
      #id_cliente="ngModel"
      matInput
      name="id_cliente"
      [(ngModel)]="pedidos.id_cliente"
      placeholder="ID Cliente"
    />
    @if(id_cliente.invalid && id_cliente.touched){
    <div class="invalid-feedback">Campo requerido</div>
    }@else{
    <div class="valid-feedback">Completado</div>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label
      [ngClass]="{
        'is-valid': fecha_pedido.valid && fecha_pedido.touched,
        'is-invalid': fecha_pedido.invalid && fecha_pedido.touched
      }"
      >Fecha Pedido</mat-label
    >
    <input
      matInput
      name="fecha_pedido"
      [(ngModel)]="pedidos.fecha_pedido"
      type="date"
      placeholder="Fecha Pedido"
      #fecha_pedido="ngModel"
      required
    />
    @if(pedidos.invalid && pedidos.touched){
    <div class="invalid-feedback">Campo requerido</div>
    }@else{
    <div class="valid-feedback">Completado</div>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label
      [ngClass]="{
        'is-invalid': total.invalid && total.touched,
        'is-valid': total.valid && total.touched
      }"
      >Total</mat-label
    >
    <input
      #total="ngModel"
      matInput
      name="total"
      [(ngModel)]="pedidos.total"
      type="number"
      placeholder="Total"
      required
    />
    @if(total.invalid && total.touched){
    <div class="invalid-feedback">Campo requerido</div>
    }@else{
    <div class="valid-feedback">Completado</div>
    }
  </mat-form-field>
  @if(editarPedidoForm.valid){
  <button class="submit-button" type="submit">Actualizar Pedido</button>
  }@else{
  <div class="invalid-feedback">
    Por favor, llena todos los campos correctamente
  </div>
  }
</form>
